:root {
  --text-color-1: #333333;
  --text-color-2: #444;
  --text-color-3: #2c3e50;
  --color-button-heading: #f57c00;
  --color-button-sub-icon: #81c784;
  --color-green-bold: #08720e;
  --color-border-label: #ba68c8;
  --color-text-main: #333333;
  --color-white: #fff;
  --color-black: #000;
}
